const config = {
	loginServer: {
		port: 7171
	},
	game: {
		freePremium: true,
		motd: "Hello from the other side. xP"
	},
	worlds: [
		{
			name: "Typescripten",
			type: "pvp", // "pvp", "no-pvp" and "pvp-enforced"
			mapFileName: 'map', // without '.otbm'
			itemsFileName: 'items', // without '.otb'
			ip: "127.0.0.1",
			port: 7172
		}
	],
	db: {
		host: '127.0.0.1',
		port: 27017,
		user: '',
		password: '',
		dbName: 'ots'
	}
};

export default config;
